<!DOCTYPE html lang="ko">
<html>
    <head>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        <script
            class="jsbin"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
        ></script>

        <div class="file-upload">
            <hr>
            <div class="title">
                Teachable Machine Image Model
            </div>
            <hr>
                    <li class="login">
                            {% if user.is_authenticated %}
                            <a href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
                            {% else %}
                            <a href="{% url 'common:login' %}">로그인</a>
                            {% endif %}
                    </li>


            <div class="image-upload-wrap">
                <input
                    class="file-upload-input"
                    type="file"
                    onchange="readURL(this);"
                    accept="image/*"
                />
                <div class="drag-text">
                    <h3>Drag and drop a file or select add Image</h3>
                </div>
            </div>
            <div class="btn-collect">

                <button
                    class="reload"
                    type="button"
                    onclick="location.reload()">
                     새로고침
                </button>

                <button
                    class="file-upload-btn"
                    type="button"
                    onclick="$('.file-upload-input').trigger( 'click' )"
                >
                Add Image
                </button>

                <button type="button" onclick="removeUpload()" class="remove-image">
                        Remove
                </button>
                <div>
                    <button class="run-btn" type="button" onclick="predict()">동작</button>
                </div>
                   {% if user.is_authenticated %}
                <div class="running-set">
                        <div id="webcam-container"></div>
                        <div class="result" id="label-container"></div>
                </div>

                 {% else %}
                <div class="running-set">
                    <div class="result">
                        로그인 x
                        </div>
                </div>
                {% endif %}
            </div>


            <div class="file-upload-content">
                <img class="file-upload-image" id="sensor_image" src="#" alt="your image" />
            </div>

        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.image-upload-wrap').hide();

                        $('.file-upload-image').attr('src', e.target.result);
                        $('.file-upload-content').show();

                        $('.image-title').html(input.files[0].name);
                    };

                    reader.readAsDataURL(input.files[0]);
                } else {
                    removeUpload();
                }
            }

            function removeUpload() {
                $('.file-upload-input').replaceWith($('.file-upload-input').clone());
                $('.file-upload-content').hide();
                $('.image-upload-wrap').show();
                labelContainer.childNodes[1].innerHTML = "";
            }

            $('.image-upload-wrap').bind('dragover', function () {
                $('.image-upload-wrap').addClass('image-dropping');
            });
            $('.image-upload-wrap').bind('dragleave', function () {
                $('.image-upload-wrap').removeClass('image-dropping');
            });
        </script>

        {% if user.is_authenticated %}
        <script type="text/javascript">
            const URL = 'https://teachablemachine.withgoogle.com/models/v_7TvUe8a/';

            let model, webcam, labelContainer, maxPredictions;

            async function init() {
                const modelURL = URL + 'model.json';
                const metadataURL = URL + 'metadata.json';

                model = await tmImage.load(modelURL, metadataURL);
                maxPredictions = model.getTotalClasses();

                labelContainer = document.getElementById('label-container');
                for (let i = 0; i < maxPredictions; i++) {
                    labelContainer.appendChild(document.createElement('div'));
                }
            }

            // run the webcam image through the image model
            async function predict() {
                var image = document.getElementById('sensor_image');
                const prediction = await model.predict(sensor_image, false);
                maxIndex = 0;

                for (let i = 0; i < maxPredictions; i++) {
                    if(prediction[i].probability.toFixed(2) > prediction[maxIndex].probability.toFixed(2)){
                    maxIndex = i;
                }
            }
            labelContainer.childNodes[1].innerHTML = prediction[maxIndex].className;
            }

            init()

        </script>
    {% else %}
    {% endif %}
    </body>
</html>